<p-card header="Actualizar Solicitud" [style]="{ width: '100%' }"> <!-- Card component to display the form with a header -->
  <ng-template pTemplate="header">
      <!-- This section is for any header template content, but it's empty here -->
  </ng-template>

  <div>
    <!-- Form for updating the request, binds to the form group defined in the component -->
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
      
      <!-- Grid container for the form fields -->
      <div class="grid">

        <!-- First field: Application Date -->
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span> <!-- Icon for the input field -->
                <input class="w-12" type="date" pInputText formControlName="application_date" placeholder="Fecha de Solicitud" title="Fecha"> <!-- Date input field for the request date -->
            </div>
        </div>

        <!-- Second field: Status -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-circle"></i></span> <!-- Icon for the input field -->
                <input class="w-12" type="text" pInputText formControlName="status" placeholder="Estado" title="Estado"> <!-- Text input for the request status -->
          </div>
        </div>

      </div>

      <!-- Second row of form fields -->
      <div class="grid">

        <!-- Third field: Client ID -->
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> <!-- Icon for the input field -->
                <input class="w-12" type="number" pInputText formControlName="client" placeholder="Cliente" title="Cliente"> <!-- Number input for the client ID -->
            </div>
        </div>

        <!-- Fourth field: Employee ID -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span> <!-- Icon for the input field -->
                <input class="w-12" type="number" pInputText formControlName="employee" placeholder="Empleado" title="Empleado"> <!-- Number input for the employee ID -->
          </div>
        </div>

      </div>

      <!-- Third row of form fields -->
      <div class="grid">
        <!-- Fifth field: Loan Type -->
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span> <!-- Icon for the input field -->
            <input class="w-12" type="number" pInputText formControlName="loan_type" placeholder="Tipo de Préstamo" title="Tipo de Préstamo"> <!-- Number input for the loan type -->
          </div>
        </div>
      </div>

      <!-- Submit and Cancel buttons -->
      <div class="flex justify-content-center flex-wrap">
        <!-- Submit button to update the request -->
        <button 
          pButton 
          pRipple
          label="Actualizar"
          icon="pi pi-save"
          severity="info"
          class="mr-4"
          type="submit">
        </button>

        <!-- Cancel button to go back to the requests list -->
        <button 
          pButton 
          pRipple
          label="Cancelar"
          icon="pi pi-times-circle"
          severity="warning"
          class="mr-4"
          type="button"
          (click)="cancel()">
        </button>
      </div>

    </form> 

  </div>

  <ng-template pTemplate="footer">
      <!-- Footer section (empty here) -->
  </ng-template>
</p-card>
