<p-card header="Crear Solicitud" [style]="{ width: '100%' }">
  <ng-template pTemplate="header">
      <!-- Optional header content can go here -->
  </ng-template>
  <div>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
      <!-- Form group container -->
      
      <!-- First row (Date and Status fields) -->
      <div class="grid">
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="w-12" type="date" pInputText formControlName="application_date" placeholder="Fecha de solicitud" title="Fecha">         
            </div>
        </div>

        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                <input class="w-12" type="text" pInputText formControlName="status" placeholder="Estado" title="Estado">          
          </div>
        </div>
      </div>

      <!-- Second row (Client and Employee fields) -->
      <div class="grid">
        <div class="col-12 sm:col-6">
            <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input class="w-12" type="number" pInputText formControlName="client" placeholder="Cliente" title="Cliente">         
            </div>
        </div>

        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
                <span class="p-inputgroup-addon"><i class="pi pi-bookmark"></i></span>
                <input class="w-12" type="number" pInputText formControlName="employee" placeholder="Empleado" title="Empleado">          
          </div>
        </div>
      </div>

      <!-- Third row (Loan Type field) -->
      <div class="grid">
        <div class="col-12 sm:col-6">
          <div class="p-inputgroup mb-1">
            <span class="p-inputgroup-addon"><i class="pi pi-comments"></i></span>
            <input class="w-12" type="number" pInputText formControlName="loan_type" placeholder="Tipo de préstamo" title="Tipo de préstamo">          
          </div>
        </div>
      </div>

      <!-- Submit and Cancel buttons -->
      <div class="flex justify-content-center flex-wrap">
        <button 
                    pButton 
                    pRipple
                    label="Guardar"
                    icon="pi pi-save"
                    severity="info"
                    class="mr-4"
                    type="submit"
        ></button>

        <button 
                    pButton 
                    pRipple
                    label="Cancelar"
                    icon="pi pi-times-circle"
                    severity="warning"
                    class="mr-4"
                    type="button"
                    (click)="cancel()"
        ></button>
      </div>

  </form> 
  </div>
  <ng-template pTemplate="footer">
      <!-- Optional footer content can go here -->
  </ng-template>
</p-card>
