<p-card header="Actualizar Tipo de Préstamo" [style]="{ width: '100%' }">
  <!-- Card component that holds the form, the 'header' attribute sets the title of the card -->
  <ng-template pTemplate="header">
      <!-- Empty header template, the title is already set through the 'header' attribute of p-card -->
  </ng-template>
  <div>
      <!-- Main content of the card -->
      <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()" class="p-3 bg-faded">
          <!-- The form is bound to the 'form' FormGroup in the component, and on submit the onSubmit method is called -->
          <div class="grid">
              <!-- Grid layout for the form fields -->
              <div class="col-12 sm:col-6">
                  <!-- Form input field for the loan type name -->
                  <div class="p-inputgroup mb-1">
                      <!-- PrimeNG input group for placing the icon alongside the input field -->
                      <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                      <!-- Icon placed in the input group to visually represent 'user' -->
                      <input class="w-12" type="text" pInputText formControlName="name" placeholder="Tipo de Préstamo" title="Tipo de Préstamo">
                      <!-- Input field for the loan type name, bound to the 'name' form control -->
                  </div>
              </div>
          </div>

          <div class="flex justify-content-center flex-wrap">
              <!-- Container for the action buttons -->
              <button 
                  pButton 
                  pRipple
                  label="Actualizar"
                  icon="pi pi-save"
                  severity="info"
                  class="mr-4"
                  type="submit"
              >
                  <!-- Submit button with a label of 'Actualizar' (Update), icon of a disk (save), and styling -->
              </button>

              <button 
                  pButton 
                  pRipple
                  label="Cancelar"
                  icon="pi pi-times-circle"
                  severity="warning"
                  class="mr-4"
                  type="button"
                  (click)="cancel()"
              >
                  <!-- Cancel button with a label of 'Cancelar', icon of a times-circle (cancel), and 'warning' severity -->
                  <!-- Calls the cancel() method on click to navigate away or reset the form -->
              </button>
          </div>

      </form> 
  </div>
  <ng-template pTemplate="footer">
      <!-- Empty footer template -->
  </ng-template>
</p-card>
