<p-card class="w-12 h-full">
    <ng-template pTemplate="header">

        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Loan Issued Registration
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Loan Issued" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/loanis/new']">
                </a>


            </div>

        </div>
    </ng-template>
    <p>
        <p-table [value]="loanissued">
            <ng-template pTemplate="header">
                <tr>
                    <th>Loan</th>
                    <th>Employee</th>
                    <th>Loan Date</th>
                    <th class="flex justify-content-center flex-wrap">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-loanissued>
                <tr>
                    <td>{{ loanissued.loan }}</td>
                    <td>{{ loanissued.employee }}</td>
                    <td>{{ loanissued.loan_date }}</td>
                    <td>
                        <button 
                        pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600  mr-1"
                        >

                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/loanissued/edit', loanissued.id]">
                        </a>

                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(loanissued.id)"
                        >

                        </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p>

</p-card>

