<p-card class="w-12 h-full">
    <ng-template pTemplate="header">
        
        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Employee Registration
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Employees" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/employees/new']">
                </a>


            </div>

        </div>
    </ng-template>
    <p>
        <p-table [value]="employees">
            <ng-template pTemplate="header">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th class="flex justify-content-center flex-wrap">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employees>
                <tr>
                    <td>{{ employees.first_name }}</td>
                    <td>{{ employees.last_name }}</td>
                    <td>{{ employees.position }}</td>
                    <td>
                        <button 
                        pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600  mr-1"
                        >

                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/employees/edit', employees.id]">
                        </a>

                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(employees.id)"
                        >

                        </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p>

</p-card>

