<!-- A PrimeNG card component with full width and height styles -->
<p-card class="w-12 h-full">
    
    <!-- Template for the card header -->
    <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap">
            <!-- Header title -->
            <h3 class="ml-4">
                Registrar Clientes
            </h3>
            <div class="mt-2 mr-2">
                <!-- Button to navigate to the client creation page -->
                <a 
                  pButton 
                  pRipple 
                  label="Crear Clientes" 
                  icon="pi pi-user-plus" 
                  class="bg-cyan-600" 
                  [routerLink]="['/clients/new']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <!-- PrimeNG table component displaying a list of clients -->
        <p-table [value]="clients">
            <!-- Table header template -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo Electronico</th>
                    <!-- Column for action buttons -->
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            
            <!-- Table body template iterating over the 'clients' array -->
            <ng-template pTemplate="body" let-clients>
                <tr>
                    <!-- Display client details -->
                    <td>{{ clients.first_name }}</td>
                    <td>{{ clients.last_name }}</td>
                    <td>{{ clients.address }}</td>
                    <td>{{ clients.phone }}</td>
                    <td>{{ clients.email }}</td>
                    <td>
                        <!-- Button to print client information -->
                        <button 
                            pButton 
                            pRipple 
                            icon="pi pi-print" 
                            class="bg-cyan-600 mr-1">
                        </button>

                        <!-- Link to navigate to the edit client page -->
                        <a 
                            pButton 
                            pRipple 
                            icon="pi pi-sync" 
                            severity="warning" 
                            class="mr-1" 
                            [routerLink]="['/clients/edit', clients.id]">
                        </a>

                        <!-- Button to delete a client -->
                        <button 
                            pButton 
                            pRipple 
                            severity="danger" 
                            icon="pi pi-eraser" 
                            class="mr-1" 
                            (click)="delete(clients.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>
