<!-- PrimeNG card component for the "Register Loans" functionality -->
<p-card class="w-12 h-full">
    <!-- Template for the card header -->
    <ng-template pTemplate="header">

        <!-- Header with title and action button -->
        <div class="flex justify-content-between flex-wrap">
            <!-- Title -->
            <h3 class="ml-4">Registrar Préstamos</h3>

            <!-- Button to create a new loan -->
            <div class="mt-2 mr-2">
                <a 
                    pButton 
                    pRipple
                    label="Crear Préstamo" 
                    icon="pi pi-user-plus"
                    class="bg-cyan-600"
                    [routerLink]="['/loans/new']">
                </a>
            </div>
        </div>
    </ng-template>

    <p>
        <!-- PrimeNG table component to display the list of loans -->
        <p-table [value]="loans">
            <!-- Table header -->
            <ng-template pTemplate="header">
                <tr>
                    <th>Monto</th>
                    <th>Tasa de Interés</th>
                    <th>Fecha de Desembolso</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Empleado</th>
                    <th>Estado</th>
                    <th>Tipo de Préstamo</th>
                    <th>Cliente</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>

            <!-- Table body -->
            <ng-template pTemplate="body" let-loans>
                <tr>
                    <!-- Loan properties -->
                    <td>{{ loans.amount }}</td>
                    <td>{{ loans.interest_rate }}</td>
                    <td>{{ loans.disbursement_date }}</td>
                    <td>{{ loans.due_date }}</td>
                    <td>{{ loans.employee }}</td>
                    <td>{{ loans.status }}</td>
                    <td>{{ loans.loan_type }}</td>
                    <td>{{ loans.client }}</td>

                    <!-- Action buttons -->
                    <td>
                        <!-- Print Button -->
                        <button 
                            pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600 mr-1">
                        </button>

                        <!-- Edit Button -->
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/loans/edit', loans.id]">
                        </a>

                        <!-- Delete Button -->
                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(loans.id)">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p>
</p-card>


