<p-card class="w-12 h-full">
    <ng-template pTemplate="header">

        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registration Requests
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Create Requests" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/requests/new']">
                </a>


            </div>

        </div>
    </ng-template>
    <p>
        <p-table [value]="requests">
            <ng-template pTemplate="header">
                <tr>
                    <th>Application Date</th>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Employee</th>
                    <th>Loan Type</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-requests>
                <tr>
                    <td>{{ requests.application_date }}</td>
                    <td>{{ requests.status }}</td>
                    <td>{{ requests.client }}</td>
                    <td>{{ requests.employee }}</td>
                    <td>{{ requests.loan_type }}</td>
                    <td>
                        <button 
                        pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600  mr-1"
                        >

                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/requests/edit', requests.id]">
                        </a>

                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="delete(requests.id)"
                        >

                        </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p>

</p-card>

